version: '3.9'

services:
  app-server:
    build: .
    container_name: app-server
    expose:
      - "3000"
    environment:
      - NODE_ENV=production

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app-server
